<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="bg-orange-300">
    <h1 class="text-center text-3xl text-orange-600 font-bold">Título index</h1>
    
<%- include('./partials/nav'); %>

    <section class="flex justify-center w-screen flex-wrap px-24">
        <% pics.forEach(function(p) { %>
        <div class="m-2">
            <img class="h-36" src="<%= p.URL %>" alt="">
            <p>
                <%= p.title %>

            </p>
            <p>
                <%= p.date %>
            </p>

        </div>

        <% }); %>
    </section>

</body>

</html>