<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="bg-slate-800">
    <h1 class="text-center text-3xl text-slate-400 font-bold pt-4">My Beautiful Gallery</h1>
    
<%- include('./partials/nav'); %>

    <section class="flex justify-center w-screen flex-wrap px-24">
        <% pics.forEach(function(p) { %>
        <div class="font-sans m-2 drop-shadow-md hover:drop-shadow-xl bg-slate-700/70 hover:bg-slate-700 p-3">
            <img class="h-36" src="<%= p.URL %>" alt="">
            <p class="uppercase text-center text-slate-400 pt-2 tracking-widest text-sm">
                <%= p.title %>

            </p>
            <p class="text-xs text-center text-slate-400 tracking-wider">
                <%= p.date %>
            </p>

        </div>

        <% }); %>
    </section>

</body>

</html>